@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.card{
    font-family: 'Poppins', sans-serif;
    border-radius: 1.5rem;
}

.card-title{
    color: #114B5F;
    font-size: 3vw;
}

.card-subtitle{
    font-size: 2.5vw;
    color: #114B5F;
    opacity: 80%;
}

.card-avatar{
    border-radius: 50%;
    height: auto;
    width: 6vw;
    border: .2vw solid #114B5F;
}

/*loaction card*/
.location-card{
    height: 5rem;
}

.location-card .card-body h6{
    font-size: 1.7vh
}

/*resources card*/
.resource-card{
    width: 80vw;
    height: 18vw;
    border-radius: 30rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.resource-img{
    width: 12vw;
}

.resource-card-title{
    color: #114B5F;
    font-size: 3.5vw;
    font-weight: bold;
    line-height: 100%;
}

.update{
    color: #114B5F;
    font-size: 2.5vw;
}

.number{
    font-size: 2.7vw;
    font-weight: bold;
    color: #114B5F;
}

.location{
    font-size: 2.5vw;
    color: #114B5F;
}
.location img{
    margin-left: 1vw;
    width: 2vw;
}

@media only screen and (min-width: 576px){
    .resource-card{
        padding: 0 0.7rem;
        width: 35rem;
        height: 6rem;
    }

    .resource-img{
        width: 5rem;
    }
    
    .resource-card-title{
        font-size: 1.8rem;
    }
    
    .update{
        font-size: 1rem;
    }
    
    .number{
        font-size: 1.3rem;
    }
    
    .location{
        font-size: 1rem;
    }
    .location img{
        margin-left: 1rem;
        width: .9rem;
    }
}


/*modal*/
.modal-content{
    margin: auto;
    width: 19rem;
    height: 20rem;
    border-radius: 3rem;
}

body.modal-open .fader{
	filter: blur(.2rem);
	-webkit-filter: blur(.2rem);
}

.modal-avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.1rem solid #114B5F;
}

.modal-title{
    font-family: 'Poppins', sans-serif;
    color: #114B5F;
}

.star-rating img{
    right: 6rem;
    top: 5.5rem;
    position: absolute;
    width: 2rem;
    height: auto;
}

.star-rating p{
    position: absolute;
    right: 6.5rem;
    top: 5.8rem;
    color: #ffffff;
    font-size: .8rem;
}

.doc-badge{
    font-size: .6rem;
    font-weight: 100;
    color: #fff;
    background-color: #2D9CDB;
}

.modal-body img{
    width: 1rem;
    height: auto;
}

.modal-body p{
    margin-left: .3rem;
    color: #114B5F;
    opacity: 85%;
}

.modal-btn{
    border-radius: 1.3rem;
    width: 9rem;
    background-color: #060632;
    color: #fff;
}

.rating{
    width: 2rem;
    height: auto;
}

.dislike .rating{
    transform: rotateZ(180deg);
}