@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.card{
    font-family: 'Poppins', sans-serif;
    width: 6.5rem;
    height: 6rem;
    border-radius: 1.5rem;
}

.card-title{
    color: #114B5F;
    font-size: .9rem;
}

.card-subtitle{
    font-size: .8rem;
    color: #114B5F;
    opacity: 80%;
}

.card-avatar{
    border-radius: 50%;
    height: auto;
    width: 2rem;
    border: .1rem solid #114B5F;
}


/*modal*/
.modal-content{
    margin: auto;
    width: 19rem;
    height: 20rem;
    border-radius: 3rem;
}

body.modal-open .fader{
	filter: blur(.2rem);
	-webkit-filter: blur(.2rem);
}

.modal-avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.1rem solid #114B5F;
}

.modal-title{
    font-family: 'Poppins', sans-serif;
    color: #114B5F;
}

.star-rating img{
    right: 6rem;
    top: 5.5rem;
    position: absolute;
    width: 2rem;
    height: auto;
}

.star-rating p{
    position: absolute;
    right: 6.5rem;
    top: 5.8rem;
    color: #ffffff;
    font-size: .8rem;
}

.doc-badge{
    font-size: .6rem;
    font-weight: 100;
    color: #fff;
    background-color: #2D9CDB;
}

.modal-body img{
    width: 1rem;
    height: auto;
}

.modal-body p{
    margin-left: .3rem;
    color: #114B5F;
    opacity: 85%;
}

.modal-btn{
    border-radius: 1.3rem;
    width: 9rem;
    background-color: #060632;
    color: #fff;
}

.rating{
    width: 2rem;
    height: auto;
}

.dislike .rating{
    transform: rotateZ(180deg);
}