@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins:wght@500&display=swap');


body{
    color: #2f2f2f;
    font-family: 'Poppins', sans-serif;
}

.splash a{
    transition: all 0.2s ease-in;
}

.splash a:hover{
    text-decoration: none;
    color: #5f5f5f;
}

.splash a:active{
    text-decoration: none;
}

/*carousel*/
.carousel-item{
    height:100vh;
}

.carousel-indicators{
    bottom: -.3rem;
}

.carousel-indicators li{
    width: .2rem;
    height: .2rem;
    border-radius: 100%;
    background-color: transparent!important;
    border: .1rem solid #219653;
}

.carousel-indicators .active{
    background-color: #219653!important;
}

/*shapes*/
.shapes{
    padding-top: 4rem;
}

.shapes div{
    position: absolute;
    background-color: #786ADE;
    border-radius: 50%;
}

#logo{
    top: 7.7rem;
    border-radius: 0;
    left: -0.2rem;
    background: transparent;
    z-index: 5;
}

#logo img{
    width: 8rem;
}

#shape1{
    opacity: 13%;
    width: 13rem;
    height: 13rem;
    left: -6.5rem;
    top: 8rem;
}

#shape2{
    opacity: 11%;
    width: 15rem;
    height: 15rem;
    left: -7.5rem;
    top: 7rem;
}

#shape3{
    opacity: 9%;
    width: 17rem;
    height: 17rem;
    left: -8.5rem;
    top: 6rem;
}

#shape4{
    opacity: 7%;
    width: 19rem;
    height: 19rem;
    left: -9.5rem;
    top: 5rem;
}

#shape5{
    opacity: 5%;
    width: 21rem;
    height: 21rem;
    left: -10.5rem;
}

/*options*/
.icon{
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #fff;
    z-index: 3;
    box-shadow: 0px 5px 4px 0px rgba(46,46,46,0.21), 0px 5px 4px 0px rgba(46,46,46,0.21) inset;
    -webkit-box-shadow: 0px 5px 4px 0px rgba(46,46,46,0.21), 0px 5px 4px 0px rgba(46,46,46,0.21) inset;
    -moz-box-shadow: 0px 5px 4px 0px rgba(46,46,46,0.21), 0px 5px 4px 0px rgba(46,46,46,0.21) inset;
}

.icon img{
    padding: .5rem;
}

.tag{
    z-index:2;
    border-radius: .2rem;
    background-color: #fff;
    width: auto;
    height: 2.5rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}

.tag-text{
    font-size: .7rem;
}

.group-1{
    color: #5EDFE3;
}

.group-2{
    margin-top: .6rem;
    margin-left: 3.5rem;
    color: #219653;
}

.group-3{
    margin-top: .6rem;
    margin-left: 5rem;
    color: #EB1D26;
}

.group-4{
    margin-top: .6rem;
    margin-left: 5rem;
    color: #EB1D26;
}

.group-5{
    margin-top: .6rem;
    margin-left: 3.5rem;
    color: #F4931E;
}

.group-6{
    margin-top: .6rem;
    color: #2D7BB9;
}

/*end-text*/
.end-text{
    text-align: center;
}

.end-text p{
    text-align: justify;
    text-align-last: center;
}

.end-text img{
    width: 5.5rem;
}

.desc{
    font-size: .7rem;
}

.hashtags{
    color: #240448;
    opacity: 60%;
}

.end-text h2{
    line-height: 2.3rem;
    margin-bottom: 0;
    margin-top: .8rem;
    font-family: 'Josefin Sans', sans-serif;
}



.hero-1 img{
    transform: rotateZ(-6.98deg);
}

.hero-2 img{
    display: block;
    margin-right: 0;
    margin-left: auto;
    width: 79vw;
}

.grey-shape{
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 7rem;
}

.symptoms{
    color: #212121;
    opacity: 50%;
    font-size: .8rem;
}

.welcome-button{
    border: none;
    color: #114B5F;
    font-size: 1rem;
    padding: .75rem 3.5rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 4px 0px rgba(46,46,46,0.21), 0px 2px 7px 0px rgba(0,0,0,0.27) inset;
    -webkit-box-shadow: 0px 5px 4px 0px rgba(46,46,46,0.21), 0px 2px 7px 0px rgba(0,0,0,0.27) inset;
    -moz-box-shadow: 0px 5px 4px 0px rgba(46,46,46,0.21), 0px 2px 7px 0px rgba(0,0,0,0.27) inset;
}

.welcome-button:hover{
    box-shadow: none;
}

/*Search*/
.search-1{
    color: #240448;
    border-radius: 5rem;
    font-size: .7rem;
    background-image: url('./assets/search.png');
    background-size: .7rem;
    background-position: .6rem .8rem;
    background-repeat: no-repeat;
    padding: 0.5rem 0.7rem 0.4em 1.7rem;
}

.search-1::placeholder {
    color: #240448;;
}
.search-1:-ms-input-placeholder{
    color: #240448;;
}
.search-1::-ms-input-placeholder{
    color: #240448;
}

.filter-btn{
    padding: .6rem 1.5em;
    border-radius: 5rem;
}

.search-2{
    color: #114B5F;
    border-radius: 5rem;
    font-size: .7rem;
    background-image: url('/assets/search2.png');
    background-size: .9rem;
    background-position: .7rem .7rem;
    background-repeat: no-repeat;
    padding: 0.8rem 0.7rem 0.8em 2.5rem;
}
.search-2::placeholder {
    color: #114B5F;;
}
.search-2:-ms-input-placeholder{
    color: #114B5F;;
}
.search-2::-ms-input-placeholder{
    color: #114B5F;
}

.line{
    height: 0.05rem;
    width: 5.6rem;
    background-color: #114B5F;
    opacity: 50%;
}

.small-text{
    color: #114B5f;
    opacity: 50%;
    font-size: .9rem;
}