@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.card{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 30%;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.38), 0px 2px 3px 0px rgba(0,0,0,0.12) inset;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.38), 0px 2px 3px 0px rgba(0,0,0,0.12) inset;
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.38), 0px 2px 3px 0px rgba(0,0,0,0.12) inset;
    padding: auto .5rem;
}

.card-title{
    color: #114B5F;
}

.card-subtitle{
    color: #114B5F;
    opacity: 60%;
}

.card-avatar{
    border-radius: 50%;
    height: auto;
    width: 2rem;
    border: .1rem solid #114B5F;
}